
<div class="row" style="text-align: center; height: 200px; background: #ddd; line-height: 200px;">

<object data="<%= @course.resume %>"></object>

</div>

<div class="row">
  <div class="col-sm-2" style="border:1px solid #eee;">
    <h3>Courses</h3>
    <ul>
      <% current_user.courses.each do |course| %>
        <li><%= link_to course.name, course %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-6 col-sm-offset-1" style="border:1px solid #eee; text-align:center">
    <h3>Communication</h3>

    <% @messages.each do |message| %>

      <div class="media">
        <div class="media-left">
          <a href="/users/<%= message.user_id %>">
            <img class="media-object" src="<%= message.user.image_url %>" alt="message.user.name" style="width: 50px; height: 50px;">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= message.user.name %></h4>
          <%= simple_format message.body %>
          <small><%= link_to '削除', message_path(message.id), method: :delete %></small>
          <small id="reply-button" data-id="<%= message.id %>">返信</small>
        </div>
      </div>

      <% message.replies.each do |reply| %>

        <li><%= reply.user.name %> : <%= reply.body %> <small><%= link_to '削除', reply_path(reply.id), method: :delete %></small></li>

      <% end %>

      <div class="media" id="reply<%= message.id %>">
        <div class="media-left">
          <img class="media-object" src="<%= current_user.image_url %>" alt="current_user.name" style="width: 50px; height: 50px;">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= current_user.name %></h4>
          <%= form_for(@reply, url: { controller: :replies, action: :create}) do |f| %>
            <%= f.text_area :body %>
            <%= f.text_field :message_id, type: 'hidden', value: message.id %>

            <%= f.submit "返信" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-2 col-sm-offset-1" style="border:1px solid #eee;">
    <h3>members</h3>
    <ul>
      <% @course.users.each do |user| %>
        <li><%= link_to user.name, user %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="comment-form">
  <%= form_for(@message, url: { controller: :messages, action: :create}) do |f|  %>
    <%= f.text_field :body %>
    <%= f.text_field :course_id, value: @course.id, type: 'hidden' %>
    <%= f.submit "Send!" %>
  <% end %>
</div>

<script>
$.get('http://qiita.com/sparta-hachiman/private/ee5cfe3a8e9dab4cba7f', function(data) {
  console.log(data);
});
</script>
