
<div class="row" style="text-align: center; height: 200px; background: #ddd; line-height: 200px;">

main view

</div>

<div class="row">
  <div class="col-sm-2" style="border:1px solid #eee;">
    <h3>Courses</h3>
    <ul>
      <% # 後ほどアソシエーションを使ったものに変更 %>
      <% current_user.user_courses.each do |course| %>
        <% f = Course.find(course.course_id) %>
        <li><%= link_to f.name, f %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-6 col-sm-offset-1" style="border:1px solid #eee; text-align:center">
    <h3>Communication</h3>

    <% @messages.each do |message| %>

      <div class="media">
        <div class="media-left">
          <a href="/users/<%= message.user_id %>">
            <img class="media-object" src="<%= message.user.image_url %>" alt="message.user.name" style="width: 50px; height: 50px;">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= message.user.name %></h4>
          <%= simple_format message.body %>
          <small><%= link_to '削除', message_path(message.id), method: :delete %></small>
        </div>
      </div>

    <% end %>
  </div>

  <div class="col-sm-2 col-sm-offset-1" style="border:1px solid #eee;">
    <h3>members</h3>
    <ul>
      <% # 後ほどアソシエーションを使ったものに変更 %>
      <%  UserCourse.where(course_id: @course.id).each do |data| %>
        <% f = User.where(id: data.user_id)[0] %>
        <li><%= link_to f.name, f %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="comment-form">
  <%= form_for(@message, url: { controller: :messages, action: :create}) do |f|  %>
    <%= f.text_field :body %>
    <%= f.text_field :course_id, value: @course.id, type: 'hidden' %>
    <%= f.submit "Send!" %>
  <% end %>
</div>
