<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpartaAssistSystem</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "https://www.google.com/jsapi" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SAS</a>
        </div>
        <% if user_signed_in? then %>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Your courses.</li>
                    <% current_user.courses.each do |course| %>
                      <li><%= link_to course.name, course %></li>
                    <% end %>
                  <li class="divider"></li>
                  <li class="dropdown-header">Create new course?</li>
                  <li><%= link_to 'コースを作成する', new_course_path  %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Signed in as <%= current_user.email %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Your Profile', user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete  %></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        <% end %>
      </div>
    </div>

    <div class="container wrap">
      <%= yield %>
    </div>
  </body>
</html>
